.cards-parent{
    width: 100%;
    height:100svh;
    display:flex;
    flex-wrap:wrap;
    justify-items:space-evenly;
  gap:10px;
}

.cards{
    height:320px;
    width:250px;
    border:1px solid black;
    border-radius:10px;
    display:flex;
    flex-direction:column;
    align-items:center;
    padding-top:10px;
}
.image-section{
    height:220px;
    width:210px;
    background-image:url(./retouch_2025051319434855.jpg);
    border:1px solid black;
    border-radius:10px;
}
.price{
    height:100%;
    width:100%;
    padding-top:10px;

}
.brand{
    height:100%;
    width:100%;

}

