.main{
    height:400px;
    width:400px;
    border:black solid 5px;
    position:relative;
    margin-top:30px;
}
.one{
    height:100px;
    width:100px;
    background-color: blueviolet;
    position:absolute;
    bottom:10px;
    left:20px;
}
.two{
    height:100px;
    width:100px;
    background-color:orangered;
}
.button{
    padding:7px 20px;
background-color: green;
cursor: pointer;

position:absolute;
top:3px;
right:10px;
border:none;
border-radius:7px;
}