body{
    background-color:coral;
}
img{
    width:200px;
    height:200px;
    position:relative;
}
.one{
    top:0;
    left:0;
    z-index:1;
    position: absolute;
}
.two{
    top:10%;
    left:10%;
    z-index:-2;
    position: absolute;
}
.three{
    top:20%;
    left:20%;
    z-index:-3;
    position:absolute;
}
.four{
    top:30%;
    left:30%;
    z-index:-4;
    position:absolute;
}