body{
  background:rgb(224, 218, 228);
}
div{
  width:150px;
  height:150px;
   display:inline-block;
   margin-top:100px;
   opacity:0.5666666666;
   position:relative;


}
.one{
    background-color: blue;
   /* transform:rotateX(45deg);
    transform:scaleX(5);*/
    transform:skewX(-25deg);
    position:absolute;
    left:25px;

}
.two{
    background-color: rgb(0, 255, 132);
 /* transform:rotateY(234deg);
   transform:scaleY(5);*/
   transform:skew(25deg);
    position:absolute;
    left:250px;

}

.three{
    background-color: rgb(255, 0, 0);
   /* transform:rotate(126deg);*/
 /*  transform:scale(2);
   opacity:0.456794333555;*/
   transform:skew(-25deg);
    position:absolute;
    left:500px;

}
