body{
    background-color: black;
    background-color: transparent;
}
div{
    width:150px;
    height:150px;
    background-color: blue;
    display:block;
    margin:20px;
    border-radius:8px;
    text-align:center;
    font-size:30px;
    color:white;
    transition:all 1s;

}
div:hover{
    transform:translateX(150px);
    background:linear-gradient(orange,green,black);
    opacity:0.6;
}
.ease{
    transition-timing-function:ease;
}
.linear{
    transition-timing-function:linear;
}
.ease-in{
    transition-timing-function:ease-in;
}
.ease-out{
    transition-timing-function:ease-out;
}
.ease-in-out{
    transition-timing-function:ease-in-out;
}