.text{
    font-size:50px;
    text-shadow:9px 7px 5px grey;
}
.box{
    margin: 50px 50px ;
    width:100px;
    height:100px;
    background-color: blueviolet;
    box-shadow:10px 20px 5px grey;
    border-radius: 5px;
    opacity:0.7899999999999999999999999
}
