*{
    padding:0;
    margin:0;
    box-sizing:border-box;

}
body{
  font-family: 'Courier New', Courier, monospace;
  background-color: rgb(93, 93, 93);
}.container {
    border: 3px solid rgb(0, 0, 0);
    display:flex;
   /* flex-direction:row;
    flex-wrap:wrap-reverse;
    justify-content:flex-end;
    justify-content:center;
    justify-content:space-between;
    justify-content:space-around;
    justify-content:space-evenly;*/
    height:50vh;
    width:50vw;
    align-items:stretch;
    align-items:flex-start;
    align-items:center;
    align-items: flex-end;
     align-items:flex-start;
align-items:center;
  justify-items:center;
  justify-content:center;
  align-content:center;

}

.box{
    align-items: center;
    padding:30px;
   
}
.box-1 {
    background-color: orangered;
    order:3;
}

.box-2 {
    background-color: rgb(255, 255, 255);
    order:2;
}

.box-3 {
    background-color: rgb(2, 39, 203);
    align-self:flex-end;
    flex-shrink:0;
}

.box-4 {
    background-color: rgb(0, 255, 85);
    width:200px;
    flex: grow 0;;
}

.box-5 {
    background-color: rgb(0, 0, 0);
    width:200px;
}