*{
padding:0;
margin:0;
box-sizing:border-box;
}
body{
    background:url("./1.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    color:white;
    align-items:center;
}
h1{
    display:flex;
        align-items:center;
    justify-content:center;
    text-shadow: 10px 10px 7px  green;
}