.animation{
    height:50px;
    width:50px;
    border:rgb(0, 0, 0) solid 2px;
    border-radius:50px;
    border-top-color: rgb(34, 170, 220);
    animation:Rotate 0.4s infinite;
    background:rgb(58, 189, 47);
}
@keyframes Rotate{
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(360deg);
    }
}