body{
    background:rgb(135, 135, 135);

}
.anime{
    margin:50px;
    border:white solid 2px;
    background:orangered;
    padding:10px;
    display:inline-block;
    border-radius:10px;
    box-shadow:1px 2px 8px black;
    font-family:'Times New Roman', Times, serif;
font-size:20px;
transition:all 1s linear;
}
.anime:hover{
    background-color: rgb(250, 222, 124);
    transition:all 1s linear;
    cursor:pointer;
}

