.outer{
    width:50vw;
    height:50vh;
    background-color: aquamarine;
}
.inner{
    width:25vw;
    height:25vh;
    background-color: blueviolet;
}
.s{
    width:25vw;
    height:25vh;
    background-color: black;
}
.m{
    width:25vw;
    height:25vh;
    background-color: bisque;
}