*{
    margin:0;
}
h1{
    background-color: aquamarine;
    padding-left:50px;
    color: rgb(112, 36, 225);
    padding-right:50px;
    padding-top:50px;
    padding-bottom:50px;
    border:red dotted 50px;
}
p{
    padding:50px 50px;
    background-color: blanchedalmond;
    border:blueviolet solid 50px;
}
 