*{
    width: 100px;
    height: 100px;
    color: rgb(255, 255, 255);
    font-weight: 100px;
    font-family: 'Courier New', Courier, monospace;
    background-color:#9480fb;
    box-sizing: border-box;
    margin:0px;
}

.box-1 {
    background-color: rgb(255, 6, 6);
}

.box-2 {
    background-color: blueviolet;

}

.box-3 {
    background-color: chartreuse;

}

.box-4 {
    background-color: rgb(216, 137, 214);

}

.box-5 {
    background-color: rgb(217, 255, 0);

}

.box-6 {
    background-color: rgb(44, 182, 101);

}

.box-7 {
    background-color: rgb(162, 102, 110);

}

.box-8 {
    background-color: rgb(32, 148, 226);

}

.box-9 {
    background-color: rgb(35, 35, 35);

}