* {
    margin: 0px;
    padding: 5px;
    align-items: end;
    justify-content: end;
}

nav {
    background-color: rgb(175, 114, 232, 1);
    color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 50px;
    text-decoration: none;
    padding: 0px;
    margin: 0px;
    display: block;
    border: rgb(0, 0, 0) solid 5px;
    border-radius: 50px;
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 0px;
    padding-left: 0px;
    width: 350px;
display: flex;
  flex-direction:row;
  align-items: center;
  justify-items:center;

}

nav ul li a {
    text-decoration: none;
    text-transform: capitalize;
    display: inline-block;
    display: block;
    text-align: center;
    font-style: italic;
    color: rgb(0, 0, 0);
    background: scroll;
    background-color: rgb(114, 108, 226, 1);
    padding: 0px;
    margin: 0px;
    border: black dotted 2px;
    border-radius: 50px;
    padding-right: 10px;
    padding-right: 20px;
    width: 300px;
    margin-right: 0px;
  




}