
.button-86 {
  all: unset;
  width: 100px;
  height: 30px;
  justify-items: center;
  align-items: center;
  display:flex;
  align-content:center;
  justify-content:center;
  text-align:center;
  background:transparent;
  position: relative;
  color: white;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  box-shadow: #00000015 0px 10px 20px -10px, #00000015 0px 6px 6px -6px;
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
}

.button-86::after,
.button-86::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all .4s;
}

.button-86::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #000000;
  border-radius: 10px;
}

.button-86::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #00000015;
  backdrop-filter:blur(5px);
  -webkit-backdrop-filter:blur(5px);
  border-radius: 50px;
}

.button-86:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.button-86:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.button-86:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}