.search-input{
    height:30px;
    width:500px;
    border-radius:10px;
    border:40px;
    padding-left:10px;
    font-size:20px;
    
    outline:none;
    box-shadow:none;
    border-color:none;
    background-color: rgb(247, 246, 246);
}
.F{
    position:absolute;
    top:10px;
    left:50%;
    transform:translateX(-50%);
    width:450px;
    height:30px;
    border-radius:50px;
    background-color:#fff;
    box-shadow:0 2px 5px rgba(0,0,0,0.1);
    background-color: rgb(144, 144, 144);
}
.Login{
  height:30px;
  width:100px;
    border-radius: 10px;
    box-shadow: none;
    color: black;
    justify-items: end;
    justify-content:end;
    flex: wrap 1;


}
